/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

.bg {
    background-color: orangered;
    padding: 5px;
    filter: drop-shadow(2px 2px 3px red);
    color: #fff;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-image: linear-gradient(to right, rgb(255, 0, 119), rgb(60, 4, 216));
    color: #fff;
    border-radius: 10px;
}

.hero-section {
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
    display: flex;
}

/* .left-side {
    flex: 30%;
}

.right-side {
    flex: 20%;
} */

/* .profile-image {
    width: 100%;
} */

.half-width {
    width: 50%;
    padding: 0 5%;
}

.profile-image {
    width: 100%;
}

h1 {
    font-size: 50px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}