/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

.bg {
    background-color: orangered;
    padding: 5px;
    filter: drop-shadow(2px 2px 3px red);
    color: #fff;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-image: linear-gradient(to right, rgb(255, 0, 119), rgb(60, 4, 216));
    color: #fff;
    border-radius: 10px;
}

.d-flex {
    display: flex;
}

.hero-section {
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
}

/* .left-side {
    flex: 30%;
}

.right-side {
    flex: 20%;
} */

/* .profile-image {
    width: 100%;
} */

.half-width {
    width: 50%;
    padding: 0 5%;
}

.profile-image {
    width: 100%;
}

h1 {
    font-size: 50px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

.dream-section {
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url('../images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    margin: 80px 0;
}

.left-side,
.right-side {
    flex: 40%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .8);
    padding: 2%;
    margin: 0 3%;
}

.left-side {
    border-image: linear-gradient(to top, rgb(216, 15, 223), rgb(4, 89, 216));
    border-image-slice: 1;
    border-left: 10px solid;
}

.right-side {
    border-image: linear-gradient(to top, rgb(223, 133, 15), rgb(89, 216, 4));
    border-image-slice: 1;
    border-left: 10px solid;
}

footer p {
    text-align: center;
    border-top: 2px solid #ddd;
    padding: 10px 0;
    vertical-align: middle;
}